<ng-container *ngIf="questions">
  <form #quizForm="ngForm">
    <ng-container *ngFor="let q of questions; let i = index; trackBy: i">
      <div class="p-3 d-flex no-gutters">
        <div class="col col-auto" *ngIf="showResults">
          <mat-icon *ngIf="selected[i] === q.correctAnswer" class="mat-icon-large mr-3 text-success">done</mat-icon>
          <mat-icon *ngIf="selected[i] !== q.correctAnswer" class="mat-icon-large mr-3 text-danger">close</mat-icon>
        </div>
        <div class="col">
          <p [class]="showResults && (selected[i] === q.correctAnswer ? 'text-success' : 'text-danger')">
            {{ q.question }}
          </p>
          <mat-radio-group [(ngModel)]="selected[i]" [name]="'selected-' + i" [disabled]="showResults"
            (ngModelChange)="onChange($event)">
            <ng-container *ngFor="let answer of q.answers; let j = index; trackBy: j">
              <mat-radio-button required [value]="j" [color]="showResults && (selected[i] === q.correctAnswer ? 'accent' : 'warn')">
                {{ answer }}
              </mat-radio-button>
              <br>
            </ng-container>
          </mat-radio-group>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
    <div class="p-3 text-right">
      <button *ngIf="!showResults" mat-raised-button (click)="showResults = true" color="primary"
        [disabled]="!valid">Sužinoti rezultatus</button>
      <button *ngIf="showResults" mat-raised-button (click)="finishQuiz()" color="primary">Tęsti</button>
    </div>
  </form>
</ng-container>
