@import '../../../scss/reusable';

#loader {
  @include fullscreen;
  animation: fadeIn 0.2s 0.2s backwards;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.7);
  z-index: 10000;
  &.show {
    pointer-events: all;
  }
  &.hide {
    pointer-events: none;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
