<mat-card (click)="openPlace(place)" *ngIf="place" class="mb-3 image-container" [style.backgroundImage]="'url(' +  (place.photoURL || '/assets/images/sidenav.jpg')  + ')'">
  <h2 class="mat-h2 mt-5">
    {{ place.name }}
  </h2>
</mat-card>
