<div *ngIf="user">
    <div class="content-box">
        <div class="d-flex">
            <img class="profile-photo mr-3 mat-elevation-z3 " src="{{ user.photoURL || '/assets/images/user.svg' }}"
                width="64" height="64" />
            <div class="my-auto">
                {{ user.displayName }}
                <br>
                <small class="text-muted">{{ user.email }}</small>
            </div>
        </div>



        <div class="d-flex mt-3 mb-1 text-primary align-items-end">
            <b class="mat-h1  my-0 mr-auto">{{ user.levelData.current }} Lygis</b>

            <span *ngIf="user.levelData.next" class="text-muted" [matTooltip]="'Aplankius ' + user.levelData.nextRemaining + ' vietas(-ą) atrasite naujų vietovių'"
                matTooltipPosition="left">
                liko {{ user.levelData.nextRemaining }}
            </span>
        </div>
        <mat-progress-bar mode="determinate" [value]="data.progress | async"></mat-progress-bar>
        <div class="mt-2">
            Surinkta taškų: {{ user.questionsAnswered }}
            <br> Aplankyta vietų: {{ user.placesVisited.length }}

        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-tab-group background-color="white">
        <mat-tab label="Lygiai">
            <!-- Levels -->
            <ng-container *ngIf="levels.length; else noLevels;">
                <mat-accordion *ngFor="let level of levels">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b class="text-primary pl-3">
                                    {{ level.level }} Lygis
                                </b>
                            </mat-panel-title>
                            <mat-panel-description>
                                +{{ level.places.length }} vietos
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p class="text-muted pl-3 m-0">
                            Naujos vietovės:
                        </p>
                        <mat-list>
                            <mat-list-item *ngFor="let p of level.places">{{ p.name }}</mat-list-item>
                        </mat-list>

                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            <ng-template #noLevels>
                <div class="p-3 text-muted">Pasiektas aukščiausias lygis. Ačiū, kad žaidėte.</div>
            </ng-template>
        </mat-tab>
        <ng-container *ngIf="data.undiscoveredPlaces | async as uPlaces">
            <mat-tab [label]="'Neatrastos vietovės ' + uPlaces.length">
                <!-- Not discovered -->
                <app-place-list [places]="uPlaces"></app-place-list>
            </mat-tab>
        </ng-container>
        <ng-container *ngIf="data.discoveredPlaces | async as dPlaces">
            <mat-tab [label]="'Atrastos vietovės ' + dPlaces.length">
                <!-- Discovered -->
                <app-place-list [places]="dPlaces"></app-place-list>
            </mat-tab>
        </ng-container>
    </mat-tab-group>




</div>
