<ng-container *ngIf="{ place: place$ | async, user: user$ | async} as d">
  <ng-container *ngIf="d.place">
    <div class="image-container d-flex align-items-end p-3" [style.backgroundImage]="'url(' +  (d.place.photoURL || '/assets/images/sidenav.jpg') + ')'">
      <div class="mt-5">
        <div class="text-muted-w" *ngIf="distance">{{ distance }} iki tikslo</div>
        <h2 class="mb-0 fw-400">
          {{ d.place.name }}
        </h2>
      </div>
    </div>

    <div class="p-3">{{ d.place.description }}
      <div class="mt-3 d-flex justify-content-end align-items-center">
        <ng-container *ngIf="d.user; else notRegistered">
          <span *ngIf="d.place.visited" class="text-muted d-flex align-items-center">
            <mat-icon class="mr-2">done</mat-icon>
            Jūs jau aplankėte šią vietą
          </span>
          <button *ngIf="!d.place.visited" mat-raised-button color="primary" (click)="openRoute(d.place.placeId)">Pirmyn
            <mat-icon>directions</mat-icon>
          </button>
        </ng-container>
        <ng-template #notRegistered>
          <div>
            <p class="text-muted">
              Jūs nerate prisiregistravę prie aplikacijos
            </p>
            <div class="text-right">
              <button mat-button (click)="data.authDialog()">Prisijungti</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</ng-container>
