<div class="text-center">
  <div class="text-muted  small mb-2">
    Prisijungti su
  </div>
  <button mat-button color="google" (click)="auth.loginGoogle() ">Google</button>
  <button mat-button color="facebook" (click)="auth.loginFacebook() ">Facebook</button>
</div>
