<mat-list *ngIf="leaderboard$ | async as leaderboard">
  <mat-list-item *ngFor="let ld of leaderboard; let i = index; trackBy: i">
    {{ i + 1 }}
    <img matListAvatar [src]="ld.photoURL" alt="...">

    <h3 matLine> {{ ld.displayName }}
      <span class="text-muted" *ngIf="ld.me">Jūsų profilis</span>
    </h3>
    <p matLine>
      <span> Lygis: {{ ld.level }} </span>
      <span class="demo-2"> | Taškai: {{ ld.questionsAnswered }} </span>
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
