<ng-container *ngIf="routes">
  <ng-container *ngFor="let route of routes; let i = index; trackBy: i">
    <a *ngIf="!route.data['hidden']" mat-list-item (click)="click.emit()" [routerLink]="route.path.replace('/:id', '')"
      routerLinkActive="selected">
      <mat-icon class="mr-5 ">{{ route.data['icon'] }}</mat-icon>{{ route.data['title'] }}</a>
  </ng-container>
</ng-container>
<ng-container *ngIf="title && icon">
  <a mat-list-item (click)="click.emit()">
    <mat-icon class="mr-5 ">{{ icon }}</mat-icon>{{ title }}</a>
</ng-container>
