@import '../../../scss/reusable';

.mat-list-item {
  mat-icon {
    color: map-get($foreground, 'icon');
  }
  &.selected {
    color: $primary;
    mat-icon {
      color: inherit;
    }
  }
}
