.fab-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
  button + button {
    margin-top: 0.5rem;
  }
}
mat-sidenav {
  width: 300px;
}
.route-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(#000, 0.42);
}
