<app-map (markerClick)="openPlace($event)" (markersPlaced)="listenToRoutes()" (routeCancel)="routeCancel()"
  [places]="data.places | async" #map></app-map>
<div class="route-info" *ngIf="map.routeInfo as routeInfo">
  <div class="row align-items-center">
    <div class="col ">
      <ng-container *ngIf="map.inRange; else targetRoute;">
        <!-- Jau šalia -->
        <small class="text-muted">{{ routeInfo.place.name }}</small>
        <br> Esate visai čia pat, raskite ir nukreipkite kamerą į šalimais esantį plakatą!
      </ng-container>
      <ng-template #targetRoute>
        <!-- Vis dar toli -->
        <small class="text-muted">Pasirinktas tikslas</small>
        <br> {{ routeInfo.place.name }}
      </ng-template>
    </div>
    <div class="col col-auto" *ngIf="!map.inRange">
      <small class="text-muted">Atstumas</small>
      <br> {{ routeInfo.distance.text }}
    </div>
    <div class="col-12 col-sm col-sm-auto d-flex mt-1 mt-sm-0 justify-content-between">
      <button mat-button color="primary" (click)="map.cancelRoute()">
        Atšaukti</button>
      <a mat-raised-button *ngIf="map.inRange" (click)="openARPage(routeInfo.place)" color="primary">
        <mat-icon>photo_camera</mat-icon> Kamera
      </a>
    </div>
  </div>
</div>
<div class="fab-container">
  <button mat-fab color="white" (click)="map.locate()" matTooltip="Nustatyti jūsų vietą"
    matTooltipPosition="left">
    <mat-icon>my_location</mat-icon>
  </button>
  <button mat-fab color="primary" matTooltip="Mano progresas" matTooltipPosition="left"
    routerLink="/progresas">
    <mat-icon>stars</mat-icon>
  </button>
</div>
