<app-ar (detect)="onDetected()"></app-ar>
<div class="mat-card instructions d-flex align-items-center">
  <ng-container *ngIf="timer !== null; else instructions">
    <h2 class="m-0">
      Kraunami klausimai... {{ timer }}
    </h2>
  </ng-container>
  <ng-template #instructions>
    <img class="col-auto col" src="/assets/images/ar_marker.png" class="mr-3" width="64"
      height="64">
    <h3 class="col m-0">
      Raskite parodytą paveikslėlį ir nukreipkite kamerą į jį.
    </h3>
  </ng-template>
</div>
