<div id="container" [class.example-is-mobile]="mobileQuery.matches" (swiperight)="side.close()"
  (swipeleft)="snav.close()">

  <mat-toolbar color="primary" class="exmaple-toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="mr-2">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ title }}</h1>
  </mat-toolbar>
  <mat-sidenav-container id="content-container">
    <mat-sidenav id="side-nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <!-- SIDENAV TOP -->
      <div class="image-container p-4">
        <!-- User is logged in, display user info. -->
        <ng-container *ngIf="user">
          <!-- User Data -->
          <div class=" d-flex">
            <img class="profile-photo mr-3 mat-elevation-z3 " src="{{ user.photoURL || '/assets/images/user.svg' }}"
              width="64 " height="64 " alt="Paskyros nuotrauka ">
            <div class="my-auto ">
              <h2 class="mat-h2 m-0 fw-400">{{ user.displayName }}</h2>
              <div matTooltip="Surinkti taškai " class="text-muted-w small d-inline-flex align-items-center "
                matTooltipPosition="after">
                <mat-icon class="mat-icon-small ">star</mat-icon> {{ user.questionsAnswered }}
              </div>
            </div>
          </div>
        </ng-container>
        <h2 class="mat-display-1 mb-0 mt-3 fw-300 ">
          Atrask Vilnių!
        </h2>
      </div>
      <!-- REGISTERED MENU -->
      <ng-container *ngIf="user; else unregisteredMenu;">
        <mat-nav-list>
          <app-nav-link (click)="closeSideNav()" [routes]="registeredMainRoutes"></app-nav-link>
          <hr>
          <app-nav-link (click)="closeSideNav()" [routes]="registeredOtherRoutes"></app-nav-link>
          <app-nav-link (click)="snav.close(); auth.logout();" icon="power_settings_new" title="Atsijungti"></app-nav-link>
        </mat-nav-list>
      </ng-container>
      <!-- UNREGISTERED MENU -->
      <ng-template #unregisteredMenu>
        <div class="px-3 mt-3 text-muted small" *ngIf="!user">
          Norėdami turėti prieigą prie visų programėlės galimybių, prisijunkite
        </div>
        <mat-nav-list>
          <app-nav-link (click)="openAuthDialog()" icon="power_settings_new" title="Prisijungti"></app-nav-link>
          <hr>
          <app-nav-link (click)="closeSideNav()" [routes]="unregisteredMainRoutes"></app-nav-link>
          <app-nav-link (click)="closeSideNav()" [routes]="unregisteredOtherRoutes"></app-nav-link>
        </mat-nav-list>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-loader></app-loader>
    </mat-sidenav-content>
    <mat-sidenav #side mode="over" position="end" (close)="this.router.navigate([{ outlets: { overlay: null }}]);">
      <router-outlet #sidec name="overlay" (activate)='side.open()' (deactivate)='side.close()'></router-outlet>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
