<div class="container-fluid pt-3" *ngIf="places.length; else empty;">
  <div class="row" [@itemsAnimation]="places.length">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let place of places; let i = index; trackBy: i">
      <app-place-card [place]="place"></app-place-card>
    </div>
  </div>
</div>
<ng-template #empty>
  <div class="text-muted py-2 px-3">Vietų nėra</div>
</ng-template>
