<div *ngIf="levelData" [@sectionsIn]="levelData">

  <div class="section p-3 text-center text-primary" style="background: #fff;">
    <mat-icon class="big-icon">thumb_up</mat-icon>

    <h1 class="fw-300">Pasiekėte naują lygį!</h1>
  </div>

  <mat-divider></mat-divider>

  <div class="section" *ngIf="newPlaces; else noPlaces;">
    <div class="text-center text-muted mt-3">
      {{ newPlaces.length }} naujos vietos
    </div>
    <app-place-list [places]="newPlaces"></app-place-list>
  </div>

  <ng-template #noPlaces>
    Aplankėte visas vietas! Sveikiname!
  </ng-template>

  <div class="section text-center my-3">
    <button mat-raised-button color="primary" routerLink="/zemelapis">
      <mat-icon>map</mat-icon>
      Grįžti į žemėlapį
    </button>
  </div>

</div>
