@import './../../../scss/reusable';

.big-icon {
  font-size: 96px;
  width: auto;
  height: auto;

  margin: 2rem 0;

  animation: scaleIn 0.6s 0.5s backwards $swift-ease-out-timing-function;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
