
@mixin fullscreen() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin underlay() {
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    @include fullscreen();
    z-index: -1;
  }
}

@mixin underlay-dark() {
  @include underlay();
  &:before {
    background: rgba(#000, 0.24);
  }
}
