@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-blue-grey, 700);
$app-accent: mat-palette($mat-light-green, 500);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme-light: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);

$app-theme: $app-theme-light;

$primary: mat-color($app-primary);
$foreground: map-get($app-theme, 'foreground');
$foreground-dark: map-get($app-theme-dark, 'foreground');

@function text($type) {
  @if ($type == 'primary' or $type == null) {
    @return map-get($foreground, 'text');
  }
  @if ($type == 'secondary') {
    @return map-get($foreground, 'secondary-text');
  }
  @if ($type == 'helper') {
    @return map-get($foreground, 'hint-text');
  }
  @if ($type == 'disabled') {
    @return map-get($foreground, 'disabled-text');
  }
  @if ($type == 'divider') {
    @return map-get($foreground, 'divider');
  }
}

@function text-dark($type) {
  @if ($type == 'primary' or $type == null) {
    @return map-get($foreground-dark, 'text');
  }
  @if ($type == 'secondary') {
    @return map-get($foreground-dark, 'secondary-text');
  }
  @if ($type == 'helper') {
    @return map-get($foreground-dark, 'hint-text');
  }
  @if ($type == 'disabled') {
    @return map-get($foreground-dark, 'disabled-text');
  }
  @if ($type == 'divider') {
    @return map-get($foreground-dark, 'divider');
  }
}

$divider: text('divider');
