@import 'reusable';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

hr {
  border: 1px solid $divider;
  border-width: 1px 0 0 0;
  margin: 0.5rem 0;
}

.profile-photo {
  border-radius: 50%;
}

.text-muted {
  color: text(secondary);
}

.text-muted-w {
  color: text-dark(secondary);
}

.text-primary {
  color: $primary;
}
.text-danger {
  color: mat-color($app-warn);
}
.text-success {
  color: map-get($mat-green, 500);
}
.text-helper {
  color: text(helper);
}

small,
.small {
  font-size: 87.5%;
}

.mat-toolbar.mat-primary {
  z-index: 1000;
  box-shadow: 0 1px 6px rgba(darken($primary, 15%), 0.35);
}

.mat-icon.mat-icon-small {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.mat-icon.mat-icon-large {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

// Text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}

.content-box {
  padding: 1rem 1.5rem;
  max-width: 640px;
  margin-right: 0;
}

// Buttons

.mat-button,
.mat-raised-button {
  text-transform: uppercase;
}

$brand-colors: (
  github: #333,
  facebook: #3b5998,
  google: #dd4b39,
  twitter: #1da1f2
);

@each $brand, $color in $brand-colors {
  .mat-#{$brand} {
    @at-root button#{&},
      a#{&} {
      &.mat-button-raised {
        background-color: $color;
        color: #fff;
      }
      &.mat-button {
        color: $color;
        .mat-ripple-element {
          background-color: rgba($color, 0.24);
        }
        .mat-button-focus-overlay {
          background-color: rgba($color, 0.1);
        }
      }
    }
  }
}
/* The location pointed to by the popup tip. */
.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0; /* Draw the tip. */
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: /* TIP_HEIGHT= */ 8px solid white;
  }
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%); /* Style the info window. */
  background-color: white;
  border-radius: 2px;
  overflow-y: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 6px 11px rgba(0, 0, 0, 0.12),
    0 -1px 4px rgba(0, 0, 0, 0.4);
}
.image-container {
  background-image: url('/assets/images/sidenav.jpg');
  background-size: cover;
  background-position: 50%;
  color: #fff;
  text-shadow: 0 1px 2px rgba(#000, 0.4);
  @include underlay-dark();
}
.fullscreen {
  @include fullscreen;
}
/* AR */
.portrait canvas {
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100%);
}
.desktop canvas {
  transform: scale(-1, 1);
}
.splash {
  opacity: 0;
  background: #fff;
  text-align: center;
  transition: opacity 0.8s $swift-ease-out-timing-function;
  flex-direction: column;
  z-index: 10000;
  pointer-events: none;
  * {
    animation: scaleIn 0.7s backwards $swift-ease-out-timing-function;
  }
}
app-root:empty + .splash {
  opacity: 1;
}
@keyframes scaleIn {
  0% {
    transform: scale(0.87);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}
